body{
    font-family: 'Roboto', sans-serif;
    background-color:hsl(160,30%,30%)
}

strong{
    font-weight: 700;
}


.settings-card{
    padding: 15px;
}
.settings-btn{
    width: 100%
}


.menu-btn{
    width:100%;
    margin-bottom: 10px;
    background-color: hsl(160,30%,60%)
}

.ctrl-btn{
    margin: 5px;
    background-color: hsl(160,30%,60%)
}

#close-list-BTN{
    margin: 5px;
}

#timer{
   font-size: 5em;
   margin: 10px;
}

#question{
    font-size: 2em;
}

#WOD{
    font-size: 1.25em;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.toast-size{
    font-size: 1.5em;
}

